{
    "bot":{
        "token" : "BOT_TOKEN",
        "prefix" : "BOT_PREFIX",
        "developers" : ["BOT_DEVELOPERS_ID"]
    },

    "database":{
        "SRV" : ""
    },

    "guilds":{
        "main" : "MAIN_GUILD_ID"
    },

    "colors":{
        "main" : "HEX_COLOR"
    }
}
