{
    "bot":{
        "token" : "BOT_TOKEN",
        "prefix" : "BOT_PREFIX",
        "developers" : ["BOT_DEVELOPERS_ID"]
    },

    "guilds":{
        "main" : "MAIN_GUILD_ID"
    },

    "channels":{
        "generalChat" : "GENERAL_CHAT_ID",
        "welcome" : "WELCOME_ID",
        "logs" : {
            "welcomer" : "WELCOMER_ID",
            "message" : "MESSAGE_LOG_ID"
        }
    },

    "colors":{
        "main" : "HEX_COLOR"
    }
}
